{% extends 'base.html.twig' %}

{% block body %}
    <h1>Purchases list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Purchasedon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td><a href="{{ path('purchase_show', { 'id': purchase.id }) }}">{{ purchase.id }}</a></td>
                <td>{% if purchase.purchasedOn %}{{ purchase.purchasedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('purchase_show', { 'id': purchase.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
